# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mac
.DS_Store

# Other
.vscode
*.tsv
*.pt
gpt*.txt
*.env
local/
local_*
build/
*.egg-info/
.idea
.venv
/frontend/demo_light/DEMO_WORKING_DIR/

# Project-specific
secrets.toml
*.log
*/assertion.log
*results/
.venv/
