dspy_ai==2.4.9
wikipedia==1.4.0
sentence-transformers
toml
langchain-text-splitters
trafilatura
langchain-huggingface
qdrant-client
langchain-qdrant
numpy==1.26.4
litellm==1.59.3
diskcache
fastapi
uvicorn
redis>=5.0.1
rq>=1.15.1
python-dotenv==1.0.1
celery>=5.3.0
requests>=2.31.0