STREAMLIT_OUTPUT_DIR = "./out"
STORM_TIMEZONE = "America/Los_Angeles"
PHOENIX_COLLECTOR_ENDPOINT = "http://localhost:6006"
SEARXNG_BASE_URL = "http://localhost:8080"
OPENAI_API_KEY = "OPENAI_API_KEY"
YDC_API_KEY = "your_youcom_api_key"


