STREAMLIT_OUTPUT_DIR=DEMO_WORKING_DIR
OPENAI_API_KEY=YOUR_OPENAI_KEY
STORM_TIMEZONE="America/Los_Angeles"
PHOENIX_COLLECTOR_ENDPOINT="http://localhost:6006"
SEARXNG_BASE_URL="http://localhost:8080"

# OPENAI_API_TYPE
# TEMPERATURE
# TOP_P
# QDRANT_API_KEY
# ANTHROPIC_API_KEY
# MAX_TOKENS
# BING_SEARCH_API_KEY
